<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="image">
        {% if feeds %}
        {% for i in feeds %}
        <img src="{{i.feediamge.url}}" alt="gallery image">

   </div> 
   <div>
    <a href="{% url 'delete_image' i.pk  %}">delete</a>
   </div>
   {% endfor %}
   {% else %}
       <p>No images available.</p>
   {% endif %}
    </div>
</body>
</html>