<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">

</head>

 <!-- Header Section -->
 <header class="main-header mb-4 bg-dark">
    <div>
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="header-title">Images</h1>
        <div class="user-actions d-flex align-items-center">
        </div>
    </div>
</header>


   <div class="image">
        {% if feeds %}
        {% for i in feeds %}
        <img src="{{i.feedimage.url}}" alt="gallery image">
       
   </div> 
   <div>
    <a href="{% url 'delete_image' i.pk  %}" class="btn btn-primary mt-3"> Delete</a>
   </div>
   {% endfor %}
   {% else %}
       <p>No images available.</p>
   {% endif %}
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body> 
</body>
</html>