<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="master">
        <div class="upload-form">
            <h1>Mygallery</h1>
            <form action="{% url 'post' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="feedimage">Choose Image</label>
                <input type="file" name="feedimage" id="feedimage" class="file-input">
                <button type="submit" class="submit-btn">Post</button>
            </form>
        </div>
    </div>
</body>
</html>