<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gallery Vault</h1>
    <form action="{% url 'signin'%}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"> 
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit" class="button">
        <a href="{% url 'createuser' %}"> signin</a>
         
    </form>
</body>
</html> 
        
        
        
        
        
        
        
        
        
